.container-home {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #333333ef, #3a3939ef, #454343ef, #515050ef);
    /* Degradê para o fundo */
    width: 100%;
    height: 100vh;
}

.container-interno {
    // color: #b0b0b0; /* Cinza claro com um tom pastel */
    color: rgba(255, 255, 255, 0.781);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.textos {
    background-color: #4a4a4a;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #6e6767d7;
}

.textos h1 {
    margin-bottom: 10px;
    text-align: center;
}

.textos p {
    padding: 0 20px;
    height: 80px;
    text-align: center;
    line-height: 1.5;
}

.informacoes {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.781);
}

.consultas {
    background: linear-gradient(135deg, #3a3434, #3a3939, #454343, #515050);
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 45%;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.consultas:hover {
    transform: scale(1.05);
}

.consultas {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.input-titulo-criar-consulta {
    background-color: #4a4a4a4f;
    border: 2px solid #6e676763;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    input {
        text-align: center;
        margin-top: 10px;
        padding: 4px;
        background-color: #d4d0c8;
    }

    input {
        border-radius: 5px;
        width: 100%;
    }

}

/*
#Consultas-Salvas{
    color: #b0b0b0;
}
*/