.sql {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }
}

.input-container {
    width: 80%;
}

#input-sql {
    width: 100%; // Garante que ocupa 70% do modal (pois a div pai já está com 70%)
    height: 500px; // Mantém a altura proporcional ao modal
    padding: 10px;
    border-radius: 12px;
    border: 3px solid rgba(156, 107, 42, 0.863);
    background-color: rgba(128, 128, 128, 0.096);
    resize: none; // Impede o redimensionamento manual
    text-align: left; // Garante que o texto comece do lado esquerdo
    word-wrap: break-word; // Quebra automática de palavras
    white-space: pre-wrap; // Mantém quebras de linha feitas pelo usuário
    color: white;
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.botao-consulta-personalizada {
    background-color: antiquewhite;
    height: 35px;
    width: 95px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}
