.sql{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#input-sql {
    background-color: rgba(128, 128, 128, 0.096);
    border-radius: 10px;
    height: 550px;
    width:550px;
    
}