/* Estilos para a slidebar */
.app {
    display: flex;
}

.slidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: start;
    transition: width 0.3s;
    border: 1px solid #6e6767d7; /* Borda de 2px, estilo sólido e cor vermelha */
    /* Transição para suavizar o efeito */
}

.slidebar:hover{
    background-color: #383636;
}

.slidebar.collapsed {
    width: 50px;
    /* Largura reduzida quando recolhida */
    padding: 20px 5px;
}

.slidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.slidebar li {
    margin-bottom: 1em;
}

.slidebar a {
    color: #fff;
    text-decoration: none;
}

.slidebar a:hover {
    text-decoration: underline;
    text-decoration: none;
    background-color: #4a4a4a; /* Tom de cinza escuro */
}

/* Estilos para o conteúdo principal */
.content {
    flex: 1;
    background-color: #f4f4f4;
}

button {
    background: none;
    /* Remove o background padrão */
    border: none;
    /* Remove a borda */
    outline: none;
    /* Remove o contorno ao focar */
    padding: 0;
    /* Remove o padding padrão */
    margin: 0;
    /* Remove o margin padrão */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
}

.icone-slidebar:hover{
    border: 2px solid #6e6767d7; /* Borda de 2px, estilo sólido e cor vermelha */
}